<div class="product-listing cart-landing">
    <div class="bg-rose">
        <div class="container">
            <div class="sec4 your-cart">
                <div class="heading-cart">
                    <h3 class="inblock marg0">Your Cart</h3>
                    <p class="inblock marg0"><span>2</span> Items</p>
                </div>
                <div class="cart-section" ng-repeat="cart in yourCart">
                    <div class="row">
                        <div class="col-md-4">
                            <img ng-src="{{cart.img}}" alt="" class="img-responsive">
                        </div>
                        <div class="col-md-8">
                            <div>
                                <div class="pull-left">
                                    <h3 class="inblock marg0 cart-head">{{cart.head}}</h3>
                                    <h3 class="inblock marg0 cart-qty">{{cart.qty}}</h3>
                                </div>
                                <div class="pull-right">
                                    <p class="cart-price">{{cart.cost}}</p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="abt-product">
                                <h5 class="abt__head">{{cart.title}}</h5>
                                <div class="abt__content">
                                    <p>{{cart.line1}}</p>
                                    <p>{{cart.line2}}</p>
                                </div>
                            </div>
                            <div class="add-cart">
                                <form class="cell1">
                                    <label for="">QTY</label>
                                    <div class="input-group">
                                        <span class="input-group-addon btn btn-default" id="basic-addon1">-</span>
                                        <input type="text" value="1" class="form-control">
                                        <span class="input-group-addon btn btn-default" id="basic-addon1">+</span>
                                    </div>
                                </form>
                                <button class="btn btn-default cell2 btn--custom">Add to Cart</button>
                            </div>
                            <div class="auto-rep">
                                <p class="inblock marg0">Auto Replenish</p>
                                <div class="inblock">
                                    <form class="form-inline">
                                        <div class="form-group">
                                            <input type="text" class="form-control count-days" id="text" value="30">
                                            <label for="text" class="marg0">Days</label>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cart-section cart-table">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="dis-table table-border btn-block">
                                <div class="dis-tablecell">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Enter Your Points">
                                    </div>
                                </div>
                                <div class="dis-tablecell">
                                    <div class="btn btn-default btn-block btn--custom">Pay Using Points</div>
                                </div>
                            </div>
                            <div class="padd25">
                                <p class="marg0">You have 335 points. 1 point = 1 INR</p>
                            </div>
                            <div class="dis-table table-border">
                                <div class="dis-tablecell">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Enter Coupon Code">
                                    </div>
                                </div>
                                <div class="dis-tablecell">
                                    <div class="btn btn-default btn-block btn--custom">Apply</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 pull-right">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Subtotal</th>
                                        <th>Rs. 1398</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Tax</td>
                                        <td>Rs. 102</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td>Total</td>
                                        <td>Rs. 1200</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sec4">
                <h3 class="test-head text-center">Add Items From Your Whishlist </h3>
                <hr>
                <div class="product-list">
                    <ul class="list-unstyled list list-inline">
                        <li ng-repeat="item in addItems">
                            <div class="product-block">
                                <!--<h3 class="product-block__head">{{item.title}}</h3>-->
                                <a href=" ">
                                    <div class="hover-block relate">
                                        <p class="ticket">10% Off</p>
                                        <img ng-src="{{item.img}}" alt=" " class="img-responsive">
                                        <div class="hover-txt">
                                            <div class="hover-txt__center">
                                                <h5 class="head">The Blend</h5>
                                                <div class="text">
                                                    <p>An enduring, handsome low foam bath gel. Crafted wirh activated Gold
                                                        clay straight from the Amazonian rain forest</p>
                                                    <p>Balanced with Tonka Beans native to South America that lends a complex
                                                        earthy fragrance.
                                                    </p>
                                                    <p>Enriched with toning extracts of Cedarwood and Black Pepper.</p>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </a>
                                <div class="product-block__text">
                                    <p class="product-name">{{item.desc}}</p>
                                    <h4 class="product-head">{{item.head}}</h4>
                                    <div class="offer-price">
                                        <p class="inblock">Rs. 650</p>
                                        <p class="inblock">Rs. 500</p>
                                    </div>
                                </div>
                                <div class="add-cart">
                                    <form class="cell1">
                                        <div class="input-group">
                                            <span class="input-group-addon btn btn-default" id="basic-addon1">-</span>
                                            <input type="text" value="1" class="form-control">
                                            <span class="input-group-addon btn btn-default" id="basic-addon1">+</span>
                                        </div>
                                    </form>
                                    <button class="btn btn-default cell2 btn--custom">Add to Cart</button>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="text-center mg-top">
                        <button class="btn btn-default btn--custom">View All</button>
                    </div>
                </div>
            </div>
            <div class="sec4">
                <div>
                    <h3 class="test-head text-center">People Who Bought This Also Bought</h3>
                    <hr>
                    <div class="product-list">
                        <ul class="list-unstyled list list-inline">
                            <li ng-repeat="item in otherItems">
                                <div class="product-block">
                                    <!--<h3 class="product-block__head">{{item.title}}</h3>-->
                                    <a href=" ">
                                        <div class="hover-block relate">
                                            <p class="ticket">10% Off</p>
                                            <img ng-src="{{item.img}}" alt=" " class="img-responsive">
                                            <div class="hover-txt">
                                                <div class="hover-txt__center">
                                                    <h5 class="head">The Blend</h5>
                                                    <div class="text">
                                                        <p>An enduring, handsome low foam bath gel. Crafted wirh activated Gold
                                                            clay straight from the Amazonian rain forest</p>
                                                        <p>Balanced with Tonka Beans native to South America that lends a complex
                                                            earthy fragrance.
                                                        </p>
                                                        <p>Enriched with toning extracts of Cedarwood and Black Pepper.</p>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </a>
                                    <div class="product-block__text">
                                        <p class="product-name">{{item.desc}}</p>
                                        <h4 class="product-head">{{item.head}}</h4>
                                        <div class="offer-price">
                                            <p class="inblock">Rs. 650</p>
                                            <p class="inblock">Rs. 500</p>
                                        </div>
                                    </div>
                                    <div class="add-cart">
                                        <form class="cell1">
                                            <div class="input-group">
                                                <span class="input-group-addon btn btn-default" id="basic-addon1">-</span>
                                                <input type="text" value="1" class="form-control">
                                                <span class="input-group-addon btn btn-default" id="basic-addon1">+</span>
                                            </div>
                                        </form>
                                        <button class="btn btn-default cell2 btn--custom">Add to Cart</button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="text-center mg-top">
                            <button class="btn btn-default btn--custom">View All</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="sec4 bg-rose banner hide">
        <div class="container">
            <h3 class="test-head text-center">Add Items From Your Whishlist </h3>
            <hr>
            <div class="product-list">
                <ul class="list-unstyled list list-inline">
                    <li ng-repeat="item in addItems">
                        <div class="product-block">
                            <!--<h3 class="product-block__head">{{item.title}}</h3>-->
                            <a href=" ">
                                <div class="hover-block relate">
                                    <p class="ticket">10% Off</p>
                                    <img ng-src="{{item.img}}" alt=" " class="img-responsive">
                                    <div class="hover-txt">
                                        <div class="hover-txt__center">
                                            <h5 class="head">The Blend</h5>
                                            <div class="text">
                                                <p>An enduring, handsome low foam bath gel. Crafted wirh activated Gold clay
                                                    straight from the Amazonian rain forest</p>
                                                <p>Balanced with Tonka Beans native to South America that lends a complex earthy
                                                    fragrance.
                                                </p>
                                                <p>Enriched with toning extracts of Cedarwood and Black Pepper.</p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </a>
                            <div class="product-block__text">
                                <p class="product-name">{{item.desc}}</p>
                                <h4 class="product-head">{{item.head}}</h4>
                                <div class="offer-price">
                                    <p class="inblock">Rs. 650</p>
                                    <p class="inblock">Rs. 500</p>
                                </div>
                            </div>
                            <div class="add-cart">
                                <form class="cell1">
                                    <div class="input-group">
                                        <span class="input-group-addon btn btn-default" id="basic-addon1">-</span>
                                        <input type="text" value="1" class="form-control">
                                        <span class="input-group-addon btn btn-default" id="basic-addon1">+</span>
                                    </div>
                                </form>
                                <button class="btn btn-default cell2 btn--custom">Add to Cart</button>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="text-center mg-top">
                    <button class="btn btn-default btn--custom">View All</button>
                </div>
            </div>
        </div>
    </section>
    <section class="sec4 bg-rose hide">
        <div class="container">
            <div class="">
                <h3 class="test-head text-center">People Who Bought This Also Bought</h3>
                <hr>
                <div class="product-list">
                    <ul class="list-unstyled list list-inline">
                        <li ng-repeat="item in otherItems">
                            <div class="product-block">
                                <!--<h3 class="product-block__head">{{item.title}}</h3>-->
                                <a href=" ">
                                    <div class="hover-block relate">
                                        <p class="ticket">10% Off</p>
                                        <img ng-src="{{item.img}}" alt=" " class="img-responsive">
                                        <div class="hover-txt">
                                            <div class="hover-txt__center">
                                                <h5 class="head">The Blend</h5>
                                                <div class="text">
                                                    <p>An enduring, handsome low foam bath gel. Crafted wirh activated Gold
                                                        clay straight from the Amazonian rain forest</p>
                                                    <p>Balanced with Tonka Beans native to South America that lends a complex
                                                        earthy fragrance.
                                                    </p>
                                                    <p>Enriched with toning extracts of Cedarwood and Black Pepper.</p>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </a>
                                <div class="product-block__text">
                                    <p class="product-name">{{item.desc}}</p>
                                    <h4 class="product-head">{{item.head}}</h4>
                                    <div class="offer-price">
                                        <p class="inblock">Rs. 650</p>
                                        <p class="inblock">Rs. 500</p>
                                    </div>
                                </div>
                                <div class="add-cart">
                                    <form class="cell1">
                                        <div class="input-group">
                                            <span class="input-group-addon btn btn-default" id="basic-addon1">-</span>
                                            <input type="text" value="1" class="form-control">
                                            <span class="input-group-addon btn btn-default" id="basic-addon1">+</span>
                                        </div>
                                    </form>
                                    <button class="btn btn-default cell2 btn--custom">Add to Cart</button>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="text-center mg-top">
                        <button class="btn btn-default btn--custom">View All</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>