<div class="product-listing cart-landing">
    <section class="sec4 bg-rose banner">
        <div class="container">
            <h3 class="test-head text-center">View Other Categories</h3>
            <hr>
            <div class="product-list">
                <ul class="list-unstyled list list-inline">
                    <li ng-repeat="item in addItems">
                        <div class="product-block">
                            <!--<h3 class="product-block__head">{{item.title}}</h3>-->
                            <a href=" ">
                                <div class="hover-block relate">
                                    <p class="ticket">10% Off</p>
                                    <img ng-src="{{item.img}}" alt=" " class="img-responsive">
                                    <div class="hover-txt">
                                        <div class="hover-txt__center">
                                            <h5 class="head">The Blend</h5>
                                            <div class="text">
                                                <p>An enduring, handsome low foam bath gel. Crafted wirh activated Gold clay
                                                    straight from the Amazonian rain forest</p>
                                                <p>Balanced with Tonka Beans native to South America that lends a complex earthy
                                                    fragrance.
                                                </p>
                                                <p>Enriched with toning extracts of Cedarwood and Black Pepper.</p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </a>
                            <div class="product-block__text">
                                <p class="product-name">{{item.desc}}</p>
                                <h4 class="product-head">{{item.head}}</h4>
                                <div class="offer-price">
                                    <p class="inblock">Rs. 650</p>
                                    <p class="inblock">Rs. 500</p>
                                </div>
                            </div>
                            <div class="add-cart">
                                <form class="cell1">
                                    <div class="input-group">
                                        <span class="input-group-addon btn btn-default" id="basic-addon1">-</span>
                                        <input type="text" value="1" class="form-control">
                                        <span class="input-group-addon btn btn-default" id="basic-addon1">+</span>
                                    </div>
                                </form>
                                <button class="btn btn-default cell2 btn--custom">Add to Cart</button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="sec4 bg-grey">
        <div class="container">
            <div class="">
                <h3 class="test-head text-center">View Other Categories</h3>
                <hr>
                <div class="product-list">
                    <ul class="list-unstyled list list-inline">
                        <li ng-repeat="product in productSlide">
                            <div class="product-block">
                                <h3 class="product-block__head">{{product.title}}</h3>
                                <a href=" ">
                                    <img ng-src="{{product.img}}" alt=" " class="img-responsive ">
                                </a>
                                <div class="product-block__text">
                                    <p class="product-detail">{{product.desc}}</p>
                                    <button class="btn btn-default btn--custom">{{product.btntxt}}</button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="sec6">
        <div class="container-fluid padd0">
            <div class="row marg0">
                <div class="col-md-6 padd0">
                    <div class="sec-left">
                        <div class="cell-table">
                            <img src="img/home/signup.png" alt="" class="img-responsive step-img">
                            <div>
                                <h3 class="sec-head">Step into Savings</h3>
                                <p class="sec-content">The more you shop with us, the greater rewards you recieve. Get 2.5% cashback on your very
                                    first purchase, and each purchase together.</p>
                                <button class="btn btn-default btn--custom">Sign Up</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 padd0">
                    <div class="sec-right">
                        <div class="cell-table">
                            <div class="row marg0">
                                <div class="col-md-5">
                                    <div>
                                        <h3 class="sec-head">Gifts For Him</h3>
                                        <p class="sec-content">Set a new benchmark with exclusive gift sets for the dapper gentleman in your life.</p>
                                        <div>
                                            <button class="btn btn-default btn--custom">Give A Gift</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div>
                                        <img src="img/home/gift-image-01.png" alt="" class="img-responsive">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>