<!--<div class="container">

    <a class="btn btn-default" ng-click="buttonClick()">Demo Button</a>

    <flex-slider flex-slide="s in mySlides" prev-text="" next-text="">
        <li>
            <img ng-src="{{s}}" class="img-full">
        </li>
    </flex-slider>

    <swiper autoplay="5000" effect="slide" slides-per-view="1" loop="true">
        <slides>
            <slide ng-repeat="s in mySlides">
                <img ng-src="{{s}}" class="img-full" noloading="true">
            </slide>
        </slides>
        <prev></prev>
        <next></next>
        <pagination></pagination>
    </swiper>

    <div class="row">
        <div class="col-md-2" ng-repeat="s in mySlides">
            <a ng-href="{{s}}" rel="gal" fancybox>
                <img ng-src="{{s}}" class="img-full">
            </a>
        </div>
        <div class="col-md-2">
            <a class="various fancybox.iframe" href="http://www.youtube.com/embed/L9szn1QQfas?autoplay=1" fancybox><img ng-src="http://img.youtube.com/vi/L9szn1QQfas/maxresdefault.jpg" class="img-full"></a>
        </div>
    </div>

</div>-->
<section>
    <div class="banner relate">
        <flex-slider flex-slide="s in homeSlide track by $index" prev-text="" next-text="">
            <li>
                <div class="slider">
                    <h4 class="slider__head">{{s.title}}</h4>
                    <p class="slider__title">{{s.title2}}</p>
                </div>
                <img ng-src="{{s.img}}" class="img-full">
                <div class="">
                    <button class="btn btn-default btn--custom slider__btn">{{s.btntxt}}</button>
                </div>
            </li>
        </flex-slider>
    </div>
</section>
<section>
    <div class="container-fluid deal-section">
        <div class="row marg0">
            <div class="col-md-6 sec-left">
                <div class="row">
                    <div class="col-md-6">
                        <div class="offer-img">
                            <img src="img/home/img-1.png" alt="" class="img-responsive">
                        </div>
                    </div>
                    <div class="col-md-6 intable">
                        <div class="bottom-align">
                            <div class="deal-section__title">
                                <p class="text-uppercase black-lbl">Deal of the week</p>
                                <h4 class="text-uppercase">Sale up to 30% A Week</h4>
                            </div>
                            <div class="deal-section__timer">
                                <ul class="list-unstyled list-inline">
                                    <li>
                                        <div class="time-block">
                                            <p>01</p>
                                            <p>DAYS</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="time-block">
                                            <p>11</p>
                                            <p>HOURS</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="time-block">
                                            <p>52</p>
                                            <p>MINUTES</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="deal-section__title2">
                                <h4>Morning Mojo<br>Coffee Bean Beard Oil</h4>
                                <button class="btn btn-default shop-btn">Shop Now</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 sec-right">
                <div class="offer-img pose-right">
                    <img src="img/home/img-2.png" alt="" class="img-responsive">
                </div>
                <div class="row">
                    <div class="col-md-8 intable">
                        <div class="bottom-align padd-left">
                            <div class="deal-section__title">
                                <p class="text-uppercase black-lbl">New Arrival</p>
                                <h4 class="">Wild Harvested from the<br> heart of the forest</h4>
                            </div>
                            <div class="deal-section__title2">
                                <h4>Gold Volcanic Clay<br> &amp; Tonka Bean face Wash</h4>
                                <button class="btn btn-default shop-btn">Shop Now</button>
                            </div>
                        </div>
                    </div>
                    <!--<div class="col-md-6">
                    </div>-->
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container-fluid padd44">
        <div class="story">
            <div class="story-sec1">
                <h4 class="story-sec1__head">Our Story</h4>
                <hr>
                <div class="story-sec1__head2">
                    <p>
                        “Inspired by our travels to off-beat locations across the globe, we have sourced exotic<br> ingredients
                        of the highest quality to build a line of powerful grooming products for men.”
                    </p>
                    <p>
                        We find inspiration in outdated lore and urban legends, antiquated herbal wisdom and cutting edge research, native ritual
                        medicine and modern grooming innovations. Borne of distilled essences and distinct travel memories,
                        each of our products truly reflects the character of the modern man and his pursuits of passion.
                    </p>
                </div>
            </div>
            <div class="text-center story-sec2">
                <ul class="list-inline list-unstyled">
                    <li>
                        <img src="img/home/st-icon-1.png" alt="" class="img-responsive">
                    </li>
                    <li>
                        <img src="img/home/st-icon-2.png" alt="" class="img-responsive">
                    </li>
                    <li>
                        <img src="img/home/st-icon-3.png" alt="" class="img-responsive">
                    </li>
                    <li>
                        <img src="img/home/st-icon-4.png" alt="" class="img-responsive">
                    </li>
                </ul>
            </div>
            <div class="story-sec3">
                <p class="marg0">
                    NO ARTIFICIAL FRAGRANCE | NO ARTIFICIAL COLOR | ALL NATURAL ESSENTIAL OILS
                </p>
                <p>
                    ETOXYLATE FREE | PTHALLATE FREE | PETROLATUM FREE | SULFATE & PARABEN FREE
                </p>
                <p>
                    All ingredients are either 100% Natural / Eco Certified & 100% safe to use.
                </p>
                <div class="know">
                    <a href="" class="text-uppercase">Know More</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="sec4">
    <div class="container">
        <!--<div class="row" ng-repeat="myProduct in myArray">
            <div class="col-md-4" ng-repeat="product in myProduct">
                <div>
                    <h3>{{product.title}}</h3>
                    <a href=" ">
                        <img ng-src="{{product.img}}" alt=" " class="img-responsive ">
                    </a>
                    <div>
                        <p>{{product.desc}}</p>
                        <button class="btn btn-default">{{product.btntxt}}</button>
                    </div>
                </div>
            </div>
        </div>-->
        <div class="product-list">
            <ul class="list-unstyled list list-inline" ng-repeat="myProduct in myArray">
                <li ng-repeat="product in myProduct">
                    <div class="product-block">
                        <h3 class="product-block__head">{{product.title}}</h3>
                        <a href=" ">
                            <img ng-src="{{product.img}}" alt=" " class="img-responsive ">
                        </a>
                        <div class="product-block__text">
                            <p>{{product.desc}}</p>
                            <button class="btn btn-default btn--custom">{{product.btntxt}}</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
<section>
    <div class="text-center">
        <img src="img/home/time.png" alt="" class="img-responsive">
        <div>
            <p>
                Auto-Replenish &amp; Never Run out of your Favourite Products.
            </p>
            <p>No Advance Payment | No Minimum Purchase Obligation</p>
        </div>
        <div>
            <ul class="list-unstyled list-inline">
                <li ng-repeat="process in processSlide">
                    <div>
                        <img ng-src="{{process.img}}" alt="" class="img-responsive">
                        <div>
                            <h3>{{process.title}}</h3>
                            <p>{{process.desc}}</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div>
                    <img src="img/home/signup.png" alt="" class="img-responsive">
                    <div>
                        <h3>Step into Savings</h3>
                        <p>The more you shop with us, the greater rewards you recieve. Get 2.5% cashback on your very first
                            purchase, and each purchase together.</p>
                        <button class="btn btn-default">Sign Up</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <div>
                            <h3>Gifts For Him</h3>
                            <p>Set a new benchmark with exclusive gift sets for the dapper gentleman in your life.</p>
                            <div>
                                <button class="btn btn-default">Give A Gift</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div>
                            <img src="img/home/gift-image-01.png" alt="" class="img-responsive">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>