<section class="banner sign-bgcolor">
    <div class="container">
        <div class="padd80">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="sign-in">
                        <h3 class="main-head">Sign In</h3>
                        <form>
                            <div class="form-group">
                                <label for="email" class="lbl-head">Email</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="email" class="lbl-head">Password</label>
                                <div class="form-control password-control">
                                    <input type="password">
                                    <a href="" class="pull-right forgot-pass">Forgot Password?</a>
                                </div>
                            </div>
                            <div>
                                <button class="btn btn-default btn-block btn--custom">Sign In</button>
                            </div>
                        </form>
                    </div>
                    <div class="social-signin">
                        <p class="social-head">Or Sign In With</p>
                        <div class="row">
                            <div class="col-md-6">
                                <button class="btn btn-default btn-block btn--custom"> 
                                <img src="img/home/Facebook-Icon@4x.png" alt=""> Facebook
                            </button>
                            </div>
                            <div class="col-md-6">
                                <button class="btn btn-default btn-block btn--custom">
                               <img src="img/home/google-plus-solid.png" alt=""> Google +
                            </button>
                            </div>
                        </div>
                    </div>
                    <div class="create-acc">
                        <p class="create-head">New to Raw Nature?</p>
                        <button class="btn btn-default btn-block btn--custom">Create Account</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>