/* Bootstrap Variables Goes Here */

$brand-primary: #0d9dff !default;
$brand-success: #84ce3c !default;
$brand-warning: #ffec39 !default;
$brand-danger: #fc483f !default;
$brand-info: #000072 !default;
$white: #ffffff !default;
$black: #000000 !default;
$dark-grey: #282828 !default;
$base-darkcolor: #CE9965 !default;
$base-darker: #EAD2A9 !default;
$base-lightcolor: #F4E9CB !default;
$rose-lightcolor:#EBD2A9 !default;
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@font-face {
    font-family: 'pop-light';
    src: url('../fonts/Poppins-Light.ttf');
}

@font-face {
    font-family: 'pop-md';
    src: url('../fonts/Poppins-Medium.ttf');
}

@font-face {
    font-family: 'pop-sb';
    src: url('../fonts/Poppins-SemiBold.ttf');
}

@font-face {
    font-family: 'work-sansB';
    src: url('../fonts/WorkSans-Bold.ttf');
}

@font-face {
    font-family: 'work-sansSB';
    src: url('../fonts/WorkSans-SemiBold.ttf');
}

@font-face {
    font-family: 'work-sansR';
    src: url('../fonts/WorkSans-Regular.ttf');
}


/* Bootstrap Variables Goes Here */

@import "other/font-fix";
body {
    // padding-top: 70px;
}

img.loading {
    text-align: center;
    opacity: 1;
    width: 32px !important;
    height: auto;
}

img {
    opacity: 0;
    transition: all 300ms ease;
}

img.doneLoading {
    opacity: 1;
}

nav li:hover .dropdown-menu {
    display: block;
}

#map img {
    opacity: 1;
}

a,
.btn,
[ui-sref] {
    cursor: pointer;
    transition: all ease 300ms;
}

.btn:focus,
.btn.focus,
.btn:active:focus,
.btn:active.focus,
.btn.active:focus,
.btn.active.focus {
    outline: none;
}

footer {
    font-size: 12px;
    background-color: $dark-grey;
    padding: 10px 0;
    color: $white;
    p {
        margin: 0;
    }
    a {
        color: $white;
        text-decoration: none;
        &:hover {
            text-decoration: none;
            color: $white;
        }
    }
}

//bootstrap forms
.input-lg,
.input-group-lg>.form-control,
.input-group-lg>.input-group-addon,
.input-group-lg>.input-group-btn>.btn,
.btn,
.form-control {
    border-radius: 0;
    box-shadow: none;
}

.form-control:focus {
    border-color: $brand-primary;
    outline: 0;
    box-shadow: none;
}

.form-group {
    position: relative;
}

.form-invalid {
    color: $brand-danger;
    .form-control {
        border-color: $brand-danger;
        color: $brand-danger;
        &::-webkit-input-placeholder {
            color: $brand-danger;
        }
    }
}

.form-submission {
    min-height: 300px;
}

//FLEX SLIDER FIXES
.flex-direction-nav {
    a {
        height: auto;
    }
    .flex-prev {
        left: 10px !important;
    }
    .flex-next {
        right: 10px !important;
    }
}

.content {
    min-height: 450px;
}

.img-full {
    width: 100%;
    display: block;
}

header {
    transition: all 300ms ease;
}

.nav-up {
    transform: translateY(-100%);
}

// CUSTOMIZE CSS STARTS HERE
.relate {
    position: relative;
}

.inblock {
    display: inline-block;
}

.intable {
    display: inline-table;
}

.marg0 {
    margin: 0;
}

.padd0 {
    padding: 0;
}

.arrow_box {
    position: relative;
}

.custom-crumb {
    background-color: transparent;
    li+li:before {
        content: "> ";
        color: $dark-grey;
    }
    a {
        font-size: 12px;
        color: $dark-grey;
        text-decoration: none;
        &:hover {
            text-decoration: none;
        }
    }
}

.flexslider {
    background: transparent;
    border: none;
    margin: 0;
}

.arrow_box:after,
.arrow_box:before {
    bottom: 100%;
    left: 10%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box:after {
    // border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #282828;
    border-width: 10px;
    margin-left: -34px;
}

.arrow_box:before {
    // border-color: rgba(194, 225, 245, 0);
    border-bottom-color: #ead3a9;
    border-width: 12px;
    margin-left: -36px;
}

.custom-navbar {
    background: $dark-grey;
    border-color: $dark-grey;
    margin-bottom: 0; // padding: 15px 0 0;
    .custom-nav {
        li {
            a {
                color: $base-lightcolor;
                font-family: 'pop-sb';
                text-transform: uppercase;
                letter-spacing: 2px;
                font-size: 12px;
                padding-bottom: 30px;
                &:hover,
                &:focus,
                &:active {
                    background: transparent;
                    color: $base-lightcolor;
                }
            }
        }
        .drop-panel {
            background: $dark-grey;
            border-top: 1px solid $rose-lightcolor;
            position: absolute;
            top: 66px;
            width: 550px;
            padding: 20px;
            ul+ul {
                margin-left: 50px;
            }
            .custom-dropdown {
                position: relative;
                vertical-align: top;
                li:first-child {
                    margin-bottom: 8px;
                    padding-bottom: 8px;
                    border-bottom: 1px solid $rose-lightcolor;
                    a {
                        font-family: 'pop-sb';
                        text-transform: inherit;
                        font-size: 11px;
                    }
                }
                a {
                    font-family: 'work-sansR';
                    letter-spacing: 1px;
                    font-size: 10px;
                    text-decoration: none;
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    }
    .custom-logo {
        padding: 0 15px;
    }
    .border-line {
        position: relative;
        &:before {
            content: '';
            border: 1px inset #ead3a9;
            display: block !important;
            margin: 0 15px;
        }
    }
    .custom-brand {
        line-height: inherit;
        height: inherit;
    }
}

.custom-right {
    margin-right: 0;
    li {
        padding: 30px 15px 0;
        a {
            padding: 0;
            position: relative;
        }
    }
    .log-in {
        li {
            font-family: 'pop-light';
            text-transform: uppercase;
            position: relative;
            a {
                color: $base-lightcolor;
                letter-spacing: 1px;
            }
        }
        li+li {
            a {
                &:before {
                    content: '/';
                    position: absolute;
                    top: 50%;
                    left: -35%;
                    transform: translate(0, -50%);
                    font-size: 10px;
                    font-weight: 700;
                    color: #f5ebcc;
                }
            }
        }
    }
    .form-control {
        background: transparent;
        border: none;
        padding: 6px 6px 6px 0;
    }
    .input-group {
        border-bottom: 1px solid #dedede;
        input[type="text"]::-webkit-input-placeholder {
            font-family: 'work-sansR';
            text-transform: uppercase;
        }
    }
    .btn-search {
        background: transparent;
        border: none;
        padding: 0;
        .fa {
            color: #dedede;
        }
    }
}

.black-lbl {
    background: #000000;
    width: 180px;
    margin-bottom: 18px;
    padding: 6px 12px;
    color: #d1d1c7;
    text-align: center;
    font-family: 'work-sansR';
}

.btn--custom {
    @include button-variant($dark-grey,
    transparent,
    $dark-grey); // border: 1px solid $white; // width: 180px;
    text-transform: uppercase; //font-weight: bold;
    letter-spacing: 1px; // position: absolute;
    bottom: 0;
    font-family: 'pop-sb';
    z-index: 0;
    position: relative;
    font-size: 12px;
    padding: 8px 20px; // box-shadow: 0 0 1px transparent;
    &:hover,
    &:active,
    &:focus {
        outline: none;
        &:before {
            transform: scale(1);
        }
    }
    &:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: $base-darkcolor;
        transform: scale(0);
        transition-property: transform;
        transition-duration: 0.3s;
        transition-timing-function: ease-out;
    }
}

// .btn--custom:hover:before,
// .btn--custom:focus:before,
// .btn--custom:active:before {
//     -webkit-transform: scale(1);
//     transform: scale(1);
// }
.banner {
    padding-top: 130px;
    .flexslider {
        border: none;
        margin: 0;
        .flex-control-nav {
            display: none;
        }
        .flex-direction-nav {
            .flex-prev {
                left: 8% !important;
                &:before {
                    content: url("../img/flex-prev.png");
                    background-repeat: no-repeat;
                }
            }
            .flex-next {
                right: 8% !important;
                &:before {
                    content: url("../img/flex-next.png");
                    background-repeat: no-repeat;
                }
            }
        }
        .slides {
            li:nth-child(n+2) {
                .slider__head,
                .slider__title,
                .btn--custom {
                    color: $white;
                }
                .btn--custom {
                    @include button-variant($white,
                    transparent,
                    $white);
                }
            }
            li:nth-child(3) {
                .slider__title {
                    @extend .slider__head;
                    font-size: 18px;
                    color: $white !important;
                }
            }
        }
    }
    .slider {
        position: absolute;
        top: 14%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, 0);
        .slider__head {
            font-family: 'pop-sb';
            text-transform: uppercase;
            text-align: center;
            color: $black;
            letter-spacing: 2px;
            margin: 0;
        }
        .slider__title {
            font-family: 'work-sansR';
            text-align: center;
            font-size: 15px;
            letter-spacing: 1px;
        }
    }
    .slider__btn {
        position: absolute;
        bottom: 12%;
        left: 50%;
        transform: translate(-50%, 0);
    }
}

.deal-section {
    padding: 0;
    .offer-img {
        width: 300px;
        margin: 0 auto;
    }
    .sec-left {
        background: #d1d1c7;
        min-height: 363px;
        padding-top: 36px;
    }
    .sec-right {
        background: $base-darkcolor;
        min-height: 363px;
        padding-top: 36px;
        position: relative;
        .pose-right {
            position: absolute;
            bottom: 0;
            right: 50px;
            z-index: 0;
        }
    }
    .deal-section__title {
        h4 {
            font-family: 'work-sansR';
            font-size: 16px;
        }
    }
    .deal-section__title2 {
        h4 {
            font-family: 'pop-sb';
            letter-spacing: 1px;
            line-height: 1.3;
            margin: 14px 0 20px;
        }
    }
    .deal-section__timer {
        li {
            // display: inline-block;
            display: inline-table;
            vertical-align: middle;
            width: 60px;
            height: 60px;
            background: #ecece8;
            margin: 0 4px;
            .time-block {
                display: table-cell;
                vertical-align: middle;
            }
            p {
                margin: 0;
                text-align: center;
                font-family: 'pop-sb';
                font-size: 34px;
                line-height: 1;
                &:nth-child(2) {
                    font-size: 10px;
                    font-family: 'work-sansR';
                }
            }
        }
    }
    .shop-btn {
        @extend .btn--custom;
        width: 160px;
    }
    .intable {
        min-height: 270px;
        .bottom-align {
            display: table-cell;
            vertical-align: bottom;
        }
        .padd-left {
            padding-left: 80px;
        }
    }
}

.padd44 {
    padding: 44px;
    background: $dark-grey;
}

.story {
    background: url('../img/home/our-story.jpg') no-repeat;
    background-position: center center;
    background-size: cover; // min-height: 725px;
    text-align: center;
    color: $base-lightcolor;
    border: 1px inset $base-lightcolor;
    padding: 44px 80px;
    .story-sec1 {
        .story-sec1__head {
            font-family: 'pop-md';
            text-transform: uppercase;
            letter-spacing: 1px;
            font-size: 20px;
        }
        hr {
            margin-top: 14px;
            width: 300px;
        }
        .story-sec1__head2 {
            font-family: 'pop-light';
            letter-spacing: 1px;
            word-spacing: 1px;
            font-size: 18px;
            p:nth-child(2) {
                font-family: 'work-sansR';
                font-size: 16px;
            }
        }
    }
    .story-sec2 {
        margin: 22px 0;
        li {
            padding: 0 10px;
            vertical-align: middle;
            img {
                width: 30px;
            }
        }
    }
    .story-sec3 {
        font-family: 'work-sansR';
        letter-spacing: 1px;
        font-size: 16px;
        p:nth-child(3) {
            margin: 20px 0;
        }
        .know {
            a {
                color: $base-lightcolor;
                border-bottom: 1px solid $white;
                text-decoration: none;
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}

.sec4 {
    background: $rose-lightcolor;
    padding: 50px 0;
    .product-list {
        ul {
            margin-left: 0;
            li {
                width: 33.33%;
                padding: 0 12px;
            }
        }
    }
    .product-list ul:nth-child(2) {
        text-align: center;
        margin-top: 40px;
    }
    .product-block {
        text-align: center;
        .product-block__head {
            font-family: 'pop-md';
            text-transform: uppercase;
            font-size: 20px;
            display: inline-block;
            position: relative;
            &:before {
                content: '';
                position: absolute;
                border: 1px inset #000;
                width: 10px;
                left: -22px;
                top: 9px;
                transform: translate(0, -50%);
            }
            &:after {
                content: '';
                position: absolute;
                border: 1px inset #000;
                width: 10px;
                right: -22px;
                top: 9px;
                transform: translate(0, -50%);
            }
        }
        .product-block__text {
            p {
                margin: 14px 0 20px;
                font-family: 'work-sansR';
            }
        }
    }
}

.sec5 {
    background: $base-lightcolor;
    padding: 50px 0;
    color: $dark-grey;
    .process-flow {
        .icon {
            margin: 0 auto;
            width: 44px;
        }
    }
    .process2 {
        li {
            width: 20%;
            vertical-align: top;
            margin: 0 20px;
        }
        li+li {
            .process-icon {
                position: relative;
                &:before {
                    content: '\f04b';
                    font: normal normal normal 14px/1 FontAwesome;
                    position: absolute;
                    top: 50%;
                    left: -14%;
                    transform: translate(0, -50%);
                }
            }
        }
    }
    .process1 {
        margin: 20px 0 30px;
    }
    .process__head {
        font-family: 'pop-md';
        font-size: 22px;
        text-transform: uppercase;
    }
    .process__content {
        font-family: 'work-sansR';
        font-size: 20px;
    }
    .process2 {
        .process__content {
            font-size: 15px;
        }
    }
}

.sec6 {
    .sec-head {
        font-family: 'pop-md';
        font-size: 22px;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    .sec-content {
        font-family: 'work-sansR';
        font-size: 14px;
        letter-spacing: 1px;
    }
    .sec-left {
        background: $dark-grey;
        min-height: 350px;
        color: $rose-lightcolor;
        text-align: center;
        display: table;
        padding: 0px 80px;
        .step-img {
            width: 70px;
            margin: 0 auto;
        }
        .btn--custom {
            @include button-variant($rose-lightcolor,
            transparent,
            $rose-lightcolor);
            color: $rose-lightcolor;
            width: 180px;
            margin-top: 20px;
        }
    }
    .sec-right {
        background: $base-darker;
        min-height: 350px;
        display: table;
        padding: 0px 50px;
        .btn--custom {
            width: 180px;
        }
    }
    .cell-table {
        display: table-cell;
        vertical-align: middle;
    }
}

.footer-menu {
    padding: 44px;
    background: #d1d1c7;
    p {
        margin: 0;
    }
    a {
        color: $dark-grey;
        text-decoration: none;
        &:hover {
            text-decoration: none;
        }
    }
    .sec-head {
        font-family: 'pop-sb';
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    .sec-content {
        font-family: 'work-sansR';
        letter-spacing: 1px;
        li {
            vertical-align: middle;
        }
    }
    .social-icons {
        .inblock {
            vertical-align: middle;
            margin-bottom: 0;
        }
        .icons {
            width: 16px;
        }
    }
    .terms-link {
        text-transform: uppercase;
        font-family: 'work-sansB';
        font-size: 12px;
        letter-spacing: 1px;
        margin-top: 20px;
    }
}

// Product Description Custom Css Here
.product-description {
    .addcart-section {
        background: #e7e3d8;
        padding-bottom: 60px;
        .addcart-slider {
            .flex-control-thumbs li {
                width: 33.33%;
            }
            .thumb-border {
                border: 1px solid #d1d1c7;
            }
            .thumb-slide {
                li {
                    // padding: 10px;
                }
            }
            .flex-direction-nav {
                display: none;
            }
            .main-slide {
                padding: 50px;
            }
        }
        .left-section {
            .head-sec1 {
                p {
                    margin: 0;
                }
                .head1 {
                    font-family: 'pop-light';
                    text-transform: uppercase;
                    letter-spacing: 1px;
                }
                .head2 {
                    color: #d4ac83;
                    font-family: 'work-sansR';
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    font-size: 20px;
                }
            }
            .head-sec2 {
                margin: 18px 0;
                .inblock {
                    vertical-align: middle;
                }
                p {
                    font-family: 'work-sansR';
                    color: #cf9c69
                }
                p:first-child {
                    font-family: 'pop-sb';
                    font-size: 20px;
                    color: $dark-grey;
                }
                p:nth-child(2) {
                    margin-left: 16px;
                }
            }
            .head-sec3 {
                display: table;
                .cell1,
                .cell2 {
                    display: table-cell;
                    vertical-align: top;
                }
                .input-group {
                    border: 1px solid $dark-grey;
                }
                .input-group-addon {
                    padding: 6px;
                    background-color: transparent;
                    border: 1px solid transparent;
                }
                .form-control {
                    padding: 0 4px;
                    background-color: transparent;
                    border: 1px solid transparent;
                    text-align: center;
                    width: 40px;
                }
                .btn--custom {
                    margin-left: 26px;
                    width: 180px;
                    font-family: 'pop-light';
                    @include button-variant($white,
                    $dark-grey,
                    $dark-grey);
                }
            }
            .head-sec4 {
                margin: 20px 0;
                label {
                    text-transform: uppercase;
                    letter-spacing: 1px;
                }
                .chk-box {
                    margin: 0;
                }
                .inblock {
                    vertical-align: bottom;
                    .form-group {
                        .form-control {
                            width: 16%;
                            text-align: center;
                            padding: 0 6px;
                            height: auto;
                            background-color: transparent;
                            border: none;
                            border-bottom: 1px solid
                        }
                        label {
                            vertical-align: bottom;
                        }
                    }
                }
                .head1 {
                    margin-bottom: 10px;
                    font-family: 'work-sansSB';
                }
                .head2 {
                    font-family: 'work-sansR';
                }
            }
            .head-sec5 {
                margin-top: 18px;
                .inblock {
                    vertical-align: middle;
                }
                .sec-content {
                    margin: 0;
                    li>a {
                        img {
                            width: 26px;
                        }
                    }
                    li+li {
                        padding-left: 20px;
                    }
                }
                .text-upper {
                    text-transform: uppercase;
                    color: $dark-grey;
                    font-family: 'pop-sb';
                    margin-left: 30px;
                    text-decoration: underline;
                }
            }
        }
        .accordion-block {
            .panel-group {
                .panel-heading {
                    padding: 0;
                }
                .head-title {
                    padding: 12px 15px 12px 0;
                    font-family: 'pop-sb';
                    text-transform: uppercase;
                    font-size: 12px;
                }
                .panel-title {
                    a {
                        text-decoration: none;
                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
                .panel-body {
                    padding-left: 0;
                    padding-top: 5px;
                }
                .panel {
                    background: transparent;
                    box-shadow: none;
                    border: 1px solid #cf9c69;
                    border-left: transparent;
                    border-right: transparent;
                    border-radius: 0;
                }
                .panel+.panel {
                    margin-top: 0;
                    border-top: 1px solid transparent;
                }
            }
            .panel-default {
                .panel-heading {
                    background: transparent;
                }
            }
        }
    }
    .saying-slide {
        background: $base-lightcolor;
        padding: 50px 0;
        hr {
            width: 160px;
            margin: 0 auto;
            border-top: 1px solid $dark-grey;
        }
        .flex-control-nav {
            display: none;
        }
        .flex-direction-nav {
            .flex-prev,
            .flex-next {
                opacity: 1;
            }
            .flex-prev {
                &:before {
                    // content: url("../img/flex-prev.png");
                    // background-repeat: no-repeat;
                    content: '';
                    background: url("../img/flex-prev.png");
                    background-repeat: no-repeat;
                    background-size: 9px 16px;
                    padding: 10px;
                    background-position: center center;
                }
            }
            .flex-next {
                &:before {
                    content: '';
                    background: url("../img/flex-next.png");
                    background-repeat: no-repeat;
                    background-size: 9px 16px;
                    padding: 10px;
                    background-position: center center;
                }
            }
        }
        .test-head {
            font-family: 'pop-md';
            text-transform: uppercase;
            font-size: 20px;
            letter-spacing: 1px;
        }
        .slider-content {
            padding: 0 100px;
            margin-top: 20px;
            .test-content {
                font-family: 'work-sansR';
                margin-bottom: 20px;
            }
            .test-name {
                color: #d8af81;
                text-transform: uppercase;
                letter-spacing: 1px;
                font-size: 11px;
            }
        }
    }
    .product-slide {
        background: inherit;
        .product-slide__block {
            line-height: 1.9;
            margin-top: 10px;
            p {
                margin: 0;
            }
        }
    }
    .product-block {
        margin: 40px 0;
    }
    .product-option {
        .btn--custom {
            width: 160px; // @include button-variant($dark-grey,
            // transparent,
            // $dark-grey);
        }
        .prod-name {
            font-family: 'pop-sb';
        }
        .prod-cost {
            font-family: 'pop-md';
        }
        .mgtop40 {
            margin-top: 40px;
        }
    }
}

// Sign In Custom Css Here
.sign-bgcolor {
    background: #f9f3e5;
    .padd80 {
        padding: 80px 0;
    }
}

.sign-in {
    margin-bottom: 26px;
    .main-head {
        font-family: 'pop-sb';
    }
    .lbl-head {
        font-family: 'work-sansR';
        letter-spacing: 1px;
        margin-bottom: 15px;
    }
    .form-control {
        height: 50px;
        background: transparent;
        &:focus {
            border: 1px solid #ccc;
        }
    }
    .password-control {
        input {
            height: 100%;
            border: none;
            background: transparent;
        }
        input[type="password"]:focus {
            outline: none;
        }
        .forgot-pass {
            font-size: 12px;
            font-family: 'work-sansR';
            line-height: 3;
            color: $dark-grey;
        }
    }
    .btn--custom {
        @include button-variant($white,
        $dark-grey,
        $dark-grey);
        font-size: 14px;
        padding: 10px 20px;
    }
}

.social-signin {
    margin-bottom: 26px;
    .social-head {
        font-family: 'pop-sb';
        text-align: center;
        text-transform: uppercase;
        position: relative;
        letter-spacing: 1px;
        &:before {
            content: '';
            width: 28%;
            display: block;
            border-top: 1px solid #282828;
            left: 0;
            position: absolute;
            top: 50%;
        }
        &:after {
            content: '';
            width: 28%;
            display: block;
            border-top: 1px solid #282828;
            right: 0;
            position: absolute;
            top: 50%;
        }
    }
    .btn--custom {
        min-height: 50px;
        font-size: 14px;
        padding: 10px 12px;
        img {
            width: 30px;
            margin-right: 10px;
        }
    }
}

.create-acc {
    .create-head {
        text-align: center;
        font-family: 'work-sansR'; // display: block;
        color: $dark-grey;
        margin: 0
    }
    .btn--custom {
        @include button-variant($white,
        $dark-grey,
        $dark-grey);
        font-size: 14px;
        padding: 10px 20px;
    }
}