/* Bootstrap Variables Goes Here */

$brand-primary: #0d9dff !default;
$brand-success: #84ce3c !default;
$brand-warning: #ffec39 !default;
$brand-danger: #fc483f !default;
$brand-info: #000072 !default;
$white: #ffffff !default;
$black: #000000 !default;
$dark-grey: #282828 !default;
$base-darkcolor: #CE9965 !default;
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@font-face {
    font-family: 'pop-light';
    src: url('../fonts/Poppins-Light.ttf');
}

@font-face {
    font-family: 'pop-md';
    src: url('../fonts/Poppins-Medium.ttf');
}

@font-face {
    font-family: 'pop-sb';
    src: url('../fonts/Poppins-SemiBold.ttf');
}

@font-face {
    font-family: 'work-sansB';
    src: url('../fonts/WorkSans-Bold.ttf');
}

@font-face {
    font-family: 'work-sansSB';
    src: url('../fonts/WorkSans-SemiBold.ttf');
}

@font-face {
    font-family: 'work-sansR';
    src: url('../fonts/WorkSans-Regular.ttf');
}


/* Bootstrap Variables Goes Here */

@import "other/font-fix";
body {
    padding-top: 70px;
}

img.loading {
    text-align: center;
    opacity: 1;
    width: 32px !important;
    height: auto;
}

img {
    opacity: 0;
    transition: all 300ms ease;
}

img.doneLoading {
    opacity: 1;
}

nav li:hover .dropdown-menu {
    display: block;
}

#map img {
    opacity: 1;
}

a,
.btn,
[ui-sref] {
    cursor: pointer;
    transition: all ease 300ms;
}

footer {
    font-size: 12px;
    background-color: #eee;
    padding: 10px 0;
    p {
        margin: 0;
    }
}

//bootstrap forms
.input-lg,
.input-group-lg>.form-control,
.input-group-lg>.input-group-addon,
.input-group-lg>.input-group-btn>.btn,
.btn,
.form-control {
    border-radius: 0;
    box-shadow: none;
}

.form-control:focus {
    border-color: $brand-primary;
    outline: 0;
    box-shadow: none;
}

.form-group {
    position: relative;
}

.form-invalid {
    color: $brand-danger;
    .form-control {
        border-color: $brand-danger;
        color: $brand-danger;
        &::-webkit-input-placeholder {
            color: $brand-danger;
        }
    }
}

.form-submission {
    min-height: 300px;
}

//FLEX SLIDER FIXES
.flex-direction-nav {
    a {
        height: auto;
    }
    .flex-prev {
        left: 10px !important;
    }
    .flex-next {
        right: 10px !important;
    }
}

.content {
    min-height: 450px;
}

.img-full {
    width: 100%;
    display: block;
}

header {
    transition: all 300ms ease;
}

.nav-up {
    transform: translateY(-100%);
}

// CUSTOMIZE CSS STARTS HERE
.relate {
    position: relative;
}

.inblock {
    display: inline-block;
}

.marg0 {
    margin: 0;
}

.padd0 {
    padding: 0;
}

.btn--custom {
    @include button-variant($dark-grey,
    transparent,
    $dark-grey); // border: 1px solid $white; // width: 180px;
    text-transform: uppercase; //font-weight: bold;
    letter-spacing: 1px;
    position: absolute;
    bottom: 0;
    font-family: 'pop-sb';
    font-size: 12px;
    padding: 8px 20px;
    &:hover,
    &:active,
    &:focus {
        // outline: none;
        color: $dark-grey;
        background-color: darken($base-darkcolor, 0); // border-color: darken($border, 12%);
    }
}

.banner {
    .slider {
        position: absolute;
        top: 14%;
        left: 50%;
        transform: translate(-50%, 0);
        .slider__head {
            font-family: 'pop-sb';
            text-transform: uppercase;
            text-align: center;
            color: $black;
            letter-spacing: 1px;
            margin: 0;
        }
        .slider__title {
            font-family: 'work-sansR';
            text-align: center;
            font-size: 20px;
        }
    }
    .slider__btn {
        position: absolute;
        bottom: 12%;
        left: 50%;
        transform: translate(-50%, 0);
    }
}