<div class="container-fluid footer-menu">
    <div class="row">
        <div class="col-md-2">
            <div>
                <h5 class="sec-head">Shop</h5>
                <ul class="list-unstyled sec-content">
                    <li>
                        <a href="">Hair</a>
                    </li>
                    <li>
                        <a href="">Beard</a>
                    </li>
                    <li>
                        <a href="">Skin</a>
                    </li>
                    <li>
                        <a href="">Shower</a>
                    </li>
                    <li>
                        <a href="">Below The <Belt></Belt></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-2">
            <div>
                <h5 class="sec-head">A Little Extra</h5>
                <ul class="list-unstyled sec-content">
                    <li>
                        <a href="">Hair</a>
                    </li>
                    <li>
                        <a href="">Beard</a>
                    </li>
                    <li>
                        <a href="">Skin</a>
                    </li>
                    <li>
                        <a href="">Shower</a>
                    </li>
                    <li>
                        <a href="">Below The <Belt></Belt></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-4 col-md-offset-4">
            <h5 class="sec-head">Need Help?</h5>
            <ul class="list-unstyled sec-content">
                <li>
                    <a href="">Call Us: +91 98200 98200</a>
                </li>
                <li>
                    <div>
                        <p>Write to Us: <a href="">email@rawnature.com</a></p>
                    </div>
                </li>
                <li>
                    <div class="social-icons">
                        <p class="inblock marg0">Find Us:</p>
                        <ul class="list-unstyled list-inline inblock sec-content">
                            <li>
                                <a href=""><img src="img/home/Facebook-Icon@4x.png" alt="" class="img-responsive icons"></a>
                            </li>
                            <li>
                                <a href=""><img src="img/home/Twitter-Icon@4x.png" alt="" class="img-responsive icons"></a>
                            </li>
                            <li>
                                <a href=""><img src="img/home/Instagram-Icon@4x.png" alt="" class="img-responsive icons"></a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="terms-link">
                        <ul class="list-inline list-unstyled">
                            <li><a href="">Terms &amp; Condition</a></li>
                            <li>|</li>
                            <li><a href="">Privacy Policy</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>