<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <div>
                <h4>Shop</h4>
                <ul class="list-unstyled">
                    <li>
                        <a href="">Hair</a>
                    </li>
                    <li>
                        <a href="">Beard</a>
                    </li>
                    <li>
                        <a href="">Skin</a>
                    </li>
                    <li>
                        <a href="">Shower</a>
                    </li>
                    <li>
                        <a href="">Below The <Belt></Belt></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-2">
            <div>
                <h4>A Little Extra</h4>
                <ul class="list-unstyled">
                    <li>
                        <a href="">Hair</a>
                    </li>
                    <li>
                        <a href="">Beard</a>
                    </li>
                    <li>
                        <a href="">Skin</a>
                    </li>
                    <li>
                        <a href="">Shower</a>
                    </li>
                    <li>
                        <a href="">Below The <Belt></Belt></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-4 col-md-offset-4">
            <div>
                <p>Need Help?</p>
                <p>Call Us: +91 98200 98200</p>
                <p>Write to Us: <a href="">email@rawnature.com</a></p>
            </div>
            <div>
                <p>Find Us:
                    <ul>
                        <li>
                            <a href=""></a>
                        </li>
                        <li>
                            <a href=""></a>
                        </li>
                        <li>
                            <a href=""></a>
                        </li>
                    </ul>
                </p>
            </div>
        </div>

    </div>
</div>
</div>